:root {
  --orange: #ffab35;
  --pink: #f1095d;
  --lightBlue: #567eb9;
  --sky: #bcc8dd;
  --green: #a0caba;
  --lightGreen: #daeff0;

  --black: #484848;
  --white: #ffffff;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
